* {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

body {
    background-color: #FAFF7F;
}

.logo {
    height: auto;
    width: 40%;
    position: relative;
    left: 30%;
}

.txt {
    font-size: 215%;
    font-family: "Caveat";
    position: relative;
    left: 0%;
    text-align: center;
}

.gen {
    position: relative;
    left: 30%;
    top: 35px;
    padding: 5%;
    width: 150px;
    border-radius: 20px;
    font-family: 'Caveat';
    background-color: #FF9B42;
    font-size: 150%;
    border-width: 0px;
    box-shadow: 1px 1px 20px #CEFDFF;
}

.mdj {
    background-color: #B8CDF8;
    position: relative;
    margin-top: 120px;
    height: 400px;
    width: 340px;
    left: 5%;
    border-radius: 30px;
    padding: 20px;
    overflow: auto;
    font-family: 'Caveat';
    overflow-x: hidden;
}

.local {
    position: relative;
    height: auto;
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #CEFDFF;
    top: 13px;
}

.mt {
    font-size: 175%;
    left: 130px;
    position: relative;
    z-index: 5;
    top: -65px;
}

.ligne{
    position: relative;
    height: auto;
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #CEFDFF;
    top: 13px;
}